services:
  # --- SERVICIOS EXISTENTES (NO TOCAR) ---
  victoria-logs:
    image: victoriametrics/victoria-logs:v1.39.0
    container_name: victoria-logs
    command: -retentionPeriod=7d -storageDataPath=/victoria-logs-data
    ports:
      - "9428:9428"
    volumes:
      - vlogs-data:/victoria-logs-data
    networks:
      - sprint-network

  grafana:
    image: grafana/grafana:10.4.0
    container_name: grafana
    ports:
      - "3000:3000"
    user: root
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_INSTALL_PLUGINS=https://grafana.com/api/plugins/victoriametrics-logs-datasource/versions/latest/download;victoriametrics-logs-datasource
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=victoriametrics-logs-datasource
    depends_on:
      - victoria-logs
    networks:
      - sprint-network

  # --- NUEVA INFRAESTRUCTURA (SPRINT 4) ---

  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
      # Este script crea las tablas automáticamente al arrancar
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - sprint-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d ecommerce_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  valkey:
    image: valkey/valkey:8.0
    container_name: valkey-cache
    ports:
      - "6379:6379"
    networks:
      - sprint-network

  # --- TU GENERADOR (ACTUALIZADO) ---
  log-generator:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: log-generator
    depends_on:
      victoria-logs:
        condition: service_started
      postgres:
        condition: service_healthy # Esperamos a que Postgres esté listo
    environment:
      - VICTORIA_URL=http://victoria-logs:9428/insert/jsonline
      # Variables para conectar Go con las DBs
      - DB_HOST=postgres
      - DB_USER=admin
      - DB_PASS=secretpassword
      - DB_NAME=ecommerce_db
      - VALKEY_HOST=valkey:6379
    networks:
      - sprint-network

volumes:
  vlogs-data:
  grafana-data:
  pg-data: # Volumen para que no pierdas los datos de Postgres

networks:
  sprint-network:
    driver: bridge